#principal{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

section{
    width: 40%;
}

#sec2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
  
#sec2 li {
    width: 50%;
    padding: 0 2%;
    margin-bottom: 20px;
    margin-left: 25%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    display: flex;
}
  
#sec2 img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}
  
.info {
    flex: 1;
    padding: 20px;
}
  
#sec2  h2 {
    margin: 0;
}
  
#sec2 p {
    padding-top: 10px;
    margin: 0;
    border-top: 2px solid rgb(163, 163, 163);
}
  
#sec2 li:nth-child(even) {
    background-color: #f2f2f2;
}
  
#sec2 li:nth-child(odd) {
    background-color: #fff;
}

.presentation{
    font-size: 1.5rem;
    background-color: rgb(216, 216, 216);
    text-align: center;
}
h2{
    text-align: center;
}

.bouton{
    margin-left: 33%;
    margin-top: 20%;
    width: 250px;
    border-radius: 20px;
    background-color: rgb(166, 255, 225);
    color: rgb(37, 37, 37);
}
.bouton:hover{cursor: pointer;}